.footer{
    display: none;
    background-color: var(--gray);
}
.title{
    font-weight: 900;
    margin-bottom: 20px !important;
}
@media screen and (min-width:768px) {
    .footer{
        display: block;
    padding:  50px;
    padding-bottom: 20px;
    }
    .footer__Links{
        display: flex;
    justify-content: space-between;
    }
    .footer__Links li{
        margin-bottom: 10px;
    }

 .footer__Social{
     display: flex;
     margin-top: 30px;
     border-top: 1px solid black;
   padding-top: 20px;
     align-items: center;
     justify-content: space-around;
 }  
 .footer__Social img{
     margin:0px 20px ;
 }
}