.modal__Card{
   position: relative;
   width: 90vw;
   margin: -100px auto 50px;


}
.modal__Content{
    position: absolute;
bottom: 0;
left: 40%;
transform: translateX(-60%);
padding-bottom: 10px;
font-size: small;
}
@media screen and (min-width:1440px) {
    .modal__Card{
      display: block;
      width: max-content;
      margin-inline: auto;
    }
  }